@import "./base.css";

#app { 
  height: 100%;
  background-color: var(--color-background);
  padding: 0.5rem;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 600px;
  margin: auto;

}

.app-container-created {
  justify-content: flex-start;
}
h1.main-heading {
  color: var(--color-heading);
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

/* create a slightly opaque black button rounded with white text */
.btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  color: var(--vt-c-white);
  display: block;
  font-size: 1.5rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.btn-small {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.btn-important {
  background-color: #ff020286;
  color: white;
}

.form-label {
  color: var(--color-text);
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.form-input {
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.sub-heading {
  color: var(--color-heading);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.info-heading {
  color: var(--color-heading);
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.persons-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.persons-table thead {
  background-color: var(--color-background-mute);
  color:rgba(0, 0, 0, 0.5);
}
.persons-table tbody {
  background-color: var(--color-background-soft);
  color:rgba(0, 0, 0, 0.5)
}

.person-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person-form-container input {
  max-width: 50%;
}

.error-text {
  color: var(--color-error);
  text-align: center;
  min-height: 1.5rem;
}

.create-menu, .join-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}